:root {
     --jd-color-icon: #bd10e0;
}

.jodit-status-bar {
     background-color: #ffffff !important;
     display: none;
}
.jodit-toolbar__box:not(:empty) {
     background-color: #ffffff;
}
.jodit-container:not(.jodit_inline) {
     border-radius: 10px;
     border: 1px solid #dadada;
     overflow: hidden;
}
.jodit-icon {
     stroke: #333;
     fill: #333;
}
